*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background: linear-gradient(270deg, rgb(216, 114, 114), goldenrod);
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.8);
  position: relative;
}

.clock::after {
  content: "";
  position: absolute;
  background-color: black;
  z-index: 100;

  top: calc(50% + 0.5rem);
  left: 50%;
  transform: translate(-50%, -50%);

  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.clock .clock-number {
  --rotation: 0;

  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 800;

  opacity: 0.8;
  padding: 0.5rem;

  text-align: center;
  transform: rotate(var(--rotation));
}

.clock .clock-number3,
.clock .clock-number6,
.clock .clock-number9,
.clock .clock-number12 {
  opacity: 1;
  font-size: 1.6rem;
}

.clock .clock-number1 {
  --rotation: 30deg;
}

.clock .clock-number2 {
  --rotation: 60deg;
}

.clock .clock-number3 {
  --rotation: 90deg;
}

.clock .clock-number4 {
  --rotation: 120deg;
}

.clock .clock-number5 {
  --rotation: 150deg;
}
.clock .clock-number6 {
  --rotation: 180deg;
}

.clock .clock-number7 {
  --rotation: 210deg;
}

.clock .clock-number8 {
  --rotation: 240deg;
}

.clock .clock-number9 {
  --rotation: 270deg;
}

.clock .clock-number10 {
  --rotation: 300deg;
}

.clock .clock-number11 {
  --rotation: 330deg;
}

.clock .clock-number12 {
  --rotation: 360deg;
}

.clock .clock-hand {
  --rotation: 0;
  position: absolute;
  bottom: calc(50% - 0.5rem);
  left: 50%;
  transform-origin: bottom;

  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));

  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  z-index: 99;
}

.clock .hand-hour {
  width: 10px;
  height: 35%;
  background-color: black;
}

.clock .hand-minute {
  width: 7px;
  height: 40%;
  background-color: black;
}

.clock .hand-second {
  width: 3px;
  height: 45%;
  background-color: red;
}
